# Compiling Senator and House of Representatives Stock Trading Data

In [12]:
import pandas as pd
import yfinance as yf

## Senate Stocks

In [13]:
senator_trades = pd.read_csv("data/cleaned/all_transactions_senate.csv")
senator_trades = senator_trades.drop("Unnamed: 0", axis=1)
senator_trades.head()

,transaction_date,owner,ticker,type,amount,comment,senator,transaction_year,transaction_month,transaction_day,amount_lower,amount_upper
0,2021-08-18,Joint,SSYS,Purchase,"$1,001 - $15,000",--,Thomas H Tuberville,2021,8,18,1001,15000
1,2021-08-12,Joint,SSBK,Purchase,"$50,001 - $100,000",--,Thomas H Tuberville,2021,8,12,50001,100000
2,2021-08-23,Spouse,LMRK,Sale (Full),"$1,001 - $15,000",--,Thomas R Carper,2021,8,23,1001,15000
3,2021-08-11,Spouse,WW,Purchase,"$1,001 - $15,000",--,Thomas R Carper,2021,8,11,1001,15000
4,2021-08-04,Spouse,ARE,Sale (Partial),"$1,001 - $15,000",--,Thomas R Carper,2021,8,4,1001,15000

In [14]:
senate_stocks = yf.download(" ".join(senator_trades["ticker"].unique()),
                            start=senator_trades["transaction_date"].min(),
                            end=senator_trades["transaction_date"].max())
senate_stocks = senate_stocks.drop(["Volume", "Open", "Adj Close", "Low", "High"], axis=1)
senate_stocks

[*********************100%***********************]  909 of 909 completed

131 Failed downloads:
- CYBX: None
- PCLN: None
- CMCSK: None
- ABCO: None
- GAS: None
- VSM: No data found, symbol may be delisted
- WGP: No data found, symbol may be delisted
- KORS: None
- MXIM: No data found, symbol may be delisted
- BPL: No data found, symbol may be delisted
- MFRM: None
- AMSG: None
- XON: No data found, symbol may be delisted
- MSTY.PA: No data found, symbol may be delisted
- ESV: No data found, symbol may be delisted
- TMK: No data found, symbol may be delisted
- WTR: No data found, symbol may be delisted
- DD-PA: No data found, symbol may be delisted
- AXLL: None
- CLC: None
- CTL: No data found, symbol may be delisted
- QLIK: None
- LB: No data found, symbol may be delisted
- CTAA: No data found, symbol may be delisted
- RTN: No data found, symbol may be delisted
- LLTC: None
- CRZO: No data found, symbol may be delisted
- RDSA: No data found, symbol may be delisted
- CBS: No data found, symbol may be delisted
- ^RGP: None
- EMC: None
- CELG: No data found, symbol may be delisted
- BCR: None
- BUNT-RP: No data found, symbol may be delisted
- DLPH: None
- REVB: No data found, symbol may be delisted
- IBKC: No data found, symbol may be delisted
- ZNGA.SW: No data found, symbol may be delisted
- ITC: None
- ACT: Data doesn't exist for startDate = 1347508800, endDate = 1629691200
- TNGO: None
- MDCA: No data found, symbol may be delisted
- BUNT: None
- RAI: None
- CAB: None
- BRKB: No data found, symbol may be delisted
- NEE-PC: No data found, symbol may be delisted
- XLS-WI: None
- SPY160219P00180000: No data found, symbol may be delisted
- VSI: No data found, symbol may be delisted
- DPM: No data found for this date range, symbol may be delisted
- AKRX: None
- AEX.MU: None
- KRFT: None
- RHT: No data found, symbol may be delisted
- SGY: None
- APC: No data found, symbol may be delisted
- TLLP: None
- USG: No data found, symbol may be delisted
- NGLS: None
- TCP: No data found, symbol may be delisted
- NPSND: None
- CTRL: No data found, symbol may be delisted
- AGU: None
- CVC: None
- NBL: No data found, symbol may be delisted
- OKS: None
- CY: No data found, symbol may be delisted
- SQI: None
- WPX: No data found, symbol may be delisted
- HYH: None
- ATML: None
- ^MWE: None
- DPS: None
- CHL: No data found, symbol may be delisted
- WAGE: No data found, symbol may be delisted
- HDS: No data found, symbol may be delisted
- MCC: None
- HF: No data found, symbol may be delisted
- TYPE: No data found, symbol may be delisted
- ANDX: No data found, symbol may be delisted
- ACE: None
- 3V64.TI: None
- ETE: None
- MYL: No data found, symbol may be delisted
- PLKI: None
- DGNR: No data found, symbol may be delisted
- FL4.SG: No data found, symbol may be delisted
- SBUX.SW: No data found, symbol may be delisted
- CMN: None
- DWDP: No data found, symbol may be delisted
- IPHI: None
- LOCK: None
- FNGN: No data found, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- PHLD: No data found, symbol may be delisted
- ICON: No data found, symbol may be delisted
- BMR: None
- STI: No data found, symbol may be delisted
- DNKN: No data found, symbol may be delisted
- Q: None
- UN: No data found, symbol may be delisted
- NGIPX: None
- PLT: No data found, symbol may be delisted
- LINE: None
- LVLT: None
- BIN: None
- IRET: No data found, symbol may be delisted
- IPCM: None
- MIK: No data found, symbol may be delisted
- UTX: No data found, symbol may be delisted
- CPGX: None
- TOT: No data found, symbol may be delisted
- POT: None
- CTCT: None
- ZAYO: No data found, symbol may be delisted
- COH: None
- NTRP: No data found, symbol may be delisted
- WTW: No data found, symbol may be delisted
- ADT.F: No data found, symbol may be delisted
- FDC: No data found, symbol may be delisted
- HRS: No data found, symbol may be delisted
- WFM: None
- TUMI: None
- EQM: No data found, symbol may be delisted
- UA-C: No data found, symbol may be delisted
- DFRG: No data found, symbol may be delisted
- PX: Data doesn't exist for startDate = 1347508800, endDate = 1629691200
- AVP: No data found, symbol may be delisted
- AGN: No data found, symbol may be delisted
- EV: No data found, symbol may be delisted
[*********************103%************************]  935 of 909 completed

             Close                                                       \
           0QZI.IL 3V64.TI           A         AA      AAGIY        AAL
Date
2012-09-13     NaN     NaN   27.453505  23.140890  14.930000  11.250000
2012-09-14     NaN     NaN   28.419170  23.645519  15.150000  10.530000
2012-09-17     NaN     NaN   28.347639  23.020741  14.950000  10.560000
2012-09-18     NaN     NaN   28.290415  22.804470  15.000000  10.310000
2012-09-19     NaN     NaN   28.526466  22.756411  14.850000  10.970000
...            ...     ...         ...        ...        ...        ...
2021-08-17   361.5     NaN  160.910004  41.610001  49.689999  19.340000
2021-08-18   357.5     NaN  163.020004  41.490002  49.709999  19.139999
2021-08-19   355.5     NaN  167.669998  36.919998  50.500000  18.730000
2021-08-20   357.5     NaN  168.130005  37.709999  49.740002  18.500000
2021-08-23     NaN     NaN         NaN        NaN        NaN        NaN

                                                         ...                  \
                  AAN       AAON        AAPL        AAT  ...       YUMC ZAYO
Date                                                     ...
2012-09-13        NaN   8.617778   24.392143  27.580000  ...        NaN  NaN
2012-09-14        NaN   9.088889   24.688572  27.860001  ...        NaN  NaN
2012-09-17        NaN   8.871111   24.992144  28.000000  ...        NaN  NaN
2012-09-18        NaN   9.075556   25.068214  27.879999  ...        NaN  NaN
2012-09-19        NaN   9.000000   25.075001  27.500000  ...        NaN  NaN
...               ...        ...         ...        ...  ...        ...  ...
2021-08-17  27.799999  68.070000  150.190002  37.799999  ...  60.279999  NaN
2021-08-18  28.230000  67.040001  146.360001  37.630001  ...  59.130001  NaN
2021-08-19  28.299999  68.419998  146.699997  37.570000  ...  58.959999  NaN
2021-08-20  28.110001  68.940002  148.190002  37.869999  ...  59.169998  NaN
2021-08-23        NaN        NaN         NaN        NaN  ...        NaN  NaN


                   ZBH  ZIOP          ZM  ZNGA ZNGA.SW         ZTS ^MWE ^RGP
Date
2012-09-13   66.629997  5.45         NaN  2.96     NaN         NaN  NaN  NaN
2012-09-14   66.900002  5.53         NaN  3.18     NaN         NaN  NaN  NaN
2012-09-17   66.930000  5.69         NaN  3.08     NaN         NaN  NaN  NaN
2012-09-18   67.190002  5.77         NaN  3.08     NaN         NaN  NaN  NaN
2012-09-19   67.139999  5.71         NaN  3.20     NaN         NaN  NaN  NaN
...                ...   ...         ...   ...     ...         ...  ...  ...
2021-08-17  147.860001  1.68  345.540009  8.21     NaN  206.600006  NaN  NaN
2021-08-18  144.380005  1.66  340.929993  8.20     NaN  203.330002  NaN  NaN
2021-08-19  144.119995  1.44  332.380005  8.37     NaN  206.440002  NaN  NaN
2021-08-20  145.460007  1.54  336.859985  8.51     NaN  207.050003  NaN  NaN
2021-08-23         NaN   NaN         NaN   NaN     NaN         NaN  NaN  NaN

[2309 rows x 909 columns]

In [15]:
trades = []
for senator in senator_trades["senator"].unique():
    data = senator_trades[senator_trades["senator"] == senator]
    data = data.sort_values("transaction_date", ascending=True)

    temp = {}

    for row in data.itertuples():
        weight = (row.amount_lower + row.amount_upper) / 2
        if row.type == "Sale (Full)":
            if row.ticker in temp and row.ticker in senate_stocks["Close"]:
                try:
                    temp[row.ticker]["sell_date"] = row.transaction_date
                    temp[row.ticker]["weight"] = weight
                    buy = senate_stocks["Close"][row.ticker].loc[temp[row.ticker]["transaction_date"]]
                    sell = senate_stocks["Close"][row.ticker].loc[row.transaction_date]
                    temp[row.ticker]["gain"] = (sell - buy) / buy
                    trades.append(temp[row.ticker])
                    temp.pop(row.ticker)
                except KeyError as e:
                    print(e)
        elif row.type == "Sale (Partial)":
            if row.ticker in temp:
                try:
                    temp[row.ticker]["sell_date"] = row.transaction_date
                    temp[row.ticker]["weight"] = weight
                    buy = senate_stocks["Close"][row.ticker].loc[temp[row.ticker]["transaction_date"]]
                    sell = senate_stocks["Close"][row.ticker].loc[row.transaction_date]
                    temp[row.ticker]["gain"] = (sell - buy) / buy
                    trades.append(temp[row.ticker])
                except KeyError as e:
                    print(e)
        elif row.type == "Purchase":
            row_dict = {}
            for field in senator_trades.columns:
                row_dict[field] = getattr(row, field)
            temp[row.ticker] = row_dict

senator_trades = pd.DataFrame(trades)

[*********************103%************************]  938 of 909 completed'2020-02-22'
'2020-02-22'
[**********************105%************************]  956 of 909 completed'2019-01-19'
[**********************106%*************************]  959 of 909 completed

In [16]:
senator_trades.to_csv("data/cleaned/senator_trades.csv")

## House of Representatives Stocks

In [17]:
house_trades = pd.read_csv("data/cleaned/all_transactions_house.csv")
house_trades = house_trades.drop("Unnamed: 0", axis=1)
house_trades

,transaction_date,owner,ticker,type,amount,representative,district,cap_gains_over_200_usd,transaction_year,transaction_month,transaction_day,amount_lower,amount_upper
0,2021-09-27,joint,BP,purchase,"$1,001 - $15,000",Hon. Virginia Foxx,NC05,False,2021,9,27,1001,15000
1,2021-09-13,joint,XOM,purchase,"$1,001 - $15,000",Hon. Virginia Foxx,NC05,False,2021,9,13,1001,15000
2,2021-09-10,joint,ILPT,purchase,"$15,001 - $50,000",Hon. Virginia Foxx,NC05,False,2021,9,10,15001,50000
3,2021-09-28,joint,PM,purchase,"$15,001 - $50,000",Hon. Virginia Foxx,NC05,False,2021,9,28,15001,50000
4,2021-09-17,self,BLK,sale_partial,"$1,001 - $15,000",Hon. Alan S. Lowenthal,CA47,False,2021,9,17,1001,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6778,2020-03-18,self,COST,purchase,"$1,001 - $15,000",Hon. Ed Perlmutter,CO07,False,2020,3,18,1001,15000
6779,2020-04-22,self,FB,sale_full,"$1,001 - $15,000",Hon. Ed Perlmutter,CO07,False,2020,4,22,1001,15000
6780,2020-04-22,self,KMI,sale_full,"$1,001 - $15,000",Hon. Ed Perlmutter,CO07,False,2020,4,22,1001,15000
6781,2020-04-09,--,SWK,sale_partial,"$1,001 - $15,000",Hon. Ed Perlmutter,CO07,False,2020,4,9,1001,15000
6782,2020-04-09,--,USB,sale_partial,"$1,001 - $15,000",Hon. Ed Perlmutter,CO07,False,2020,4,9,1001,15000

In [18]:
house_stocks = yf.download(" ".join(house_trades["ticker"].unique()),
                            start=house_trades["transaction_date"].min(),
                            end=house_trades["transaction_date"].max())
house_stocks = house_stocks.drop(["Volume", "Open", "Adj Close", "Low", "High"], axis=1)
house_stocks

[*********************100%***********************]  1560 of 1560 completedmpleted

160 Failed downloads:
- MXIM: No data found, symbol may be delisted
- BPL: No data found, symbol may be delisted
- MFRM: None
- AMSG: None
- XON: No data found, symbol may be delisted
- MSTY.PA: No data found, symbol may be delisted
- ESV: No data found, symbol may be delisted
- TMK: No data found, symbol may be delisted
- WTR: No data found, symbol may be delisted
- DD-PA: No data found, symbol may be delisted
- CLC: None
- AXLL: None
- CTL: No data found, symbol may be delisted
- QLIK: None
- LB: No data found, symbol may be delisted
- CTAA: No data found, symbol may be delisted
- RTN: No data found, symbol may be delisted
- CRZO: No data found, symbol may be delisted
- LLTC: None
- RDSA: No data found, symbol may be delisted
- CBS: No data found, symbol may be delisted
- ^RGP: None
- EMC: None
- CELG: No data found, symbol may be delisted
- BCR: None
- BUNT-RP: No data found, symbol may be delisted
- DLPH: None
- REVB: No data found, symbol may be delisted
- IBKC: No data found, symbol may be delisted
- ITC: None
- ZNGA.SW: No data found, symbol may be delisted
- ACT: Data doesn't exist for startDate = 1347508800, endDate = 1629691200
- MDCA: No data found, symbol may be delisted
- TNGO: None
- BUNT: None
- RAI: None
- CAB: None
- BRKB: No data found, symbol may be delisted
- NEE-PC: No data found, symbol may be delisted
- XLS-WI: None
- SPY160219P00180000: No data found, symbol may be delisted
- VSI: No data found, symbol may be delisted
- AEX.MU: None
- DPM: No data found for this date range, symbol may be delisted
- AKRX: None
- KRFT: None
- RHT: No data found, symbol may be delisted
- SGY: None
- APC: No data found, symbol may be delisted
- USG: No data found, symbol may be delisted
- TLLP: None
- NGLS: None
- TCP: No data found, symbol may be delisted
- NPSND: None
- CTRL: No data found, symbol may be delisted
- AGU: None
- CVC: None
- NBL: No data found, symbol may be delisted
- OKS: None
- CY: No data found, symbol may be delisted
- SQI: None
- WPX: No data found, symbol may be delisted
- HYH: None
- ATML: None
- ^MWE: None
- DPS: None
- WAGE: No data found, symbol may be delisted
- CHL: No data found, symbol may be delisted
- HDS: No data found, symbol may be delisted
- MCC: None
- ANDX: No data found, symbol may be delisted
- TYPE: No data found, symbol may be delisted
- HF: No data found, symbol may be delisted
- ACE: None
- 3V64.TI: None
- ETE: None
- MYL: No data found, symbol may be delisted
- DGNR: No data found, symbol may be delisted
- PLKI: None
- FL4.SG: No data found, symbol may be delisted
- SBUX.SW: No data found, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- GWPH: No data found, symbol may be delisted
- MZOR: No data found for this date range, symbol may be delisted
- CMD: No data found, symbol may be delisted
- PEGI: No data found, symbol may be delisted
- DEACU: No data found, symbol may be delisted
- WLTL: No data found, symbol may be delisted
- GLIBA: No data found, symbol may be delisted
- JPM$G: No data found, symbol may be delisted
- BAMXY: None
- QCHR: No data found, symbol may be delisted
- MTSC: No data found, symbol may be delisted
- HS: None
- DCMYY: No data found, symbol may be delisted
- FSEN: None
- QTS: No data found, symbol may be delisted
- UHG: None
- RP: No data found, symbol may be delisted
- FLIR: No data found, symbol may be delisted
- APHA: None
- TDDXX: None
- SNOXX: None
- PLT: No data found, symbol may be delisted
- WORK: No data found, symbol may be delisted
- TOT: No data found, symbol may be delisted
- ZOOM: No data found, symbol may be delisted
- CLNC: No data found, symbol may be delisted
- PRSP: No data found, symbol may be delisted
- RF$A: No data found, symbol may be delisted
- JIH: No data found, symbol may be delisted
- LTD: None
- SPYS: No data found, symbol may be delisted
- ALFY: No data found, symbol may be delisted
- AOBC: No data found, symbol may be delisted
- EBJ: None
- RDS.A: No data found, symbol may be delisted
- TFDXX: None
- NBLX: No data found, symbol may be delisted
- VTRA: No data found, symbol may be delisted
- TMUSR: No data found, symbol may be delisted
- STAY: No data found, symbol may be delisted
- BXS$A: No data found, symbol may be delisted
- CATM: No data found, symbol may be delisted
- SZEVY: No data found, symbol may be delisted
- CCXX: No data found, symbol may be delisted
- SNE: No data found, symbol may be delisted
- MSBHY: No data found, symbol may be delisted
- FII: No data found, symbol may be delisted
- ALXN: No data found, symbol may be delisted
- LPT: No data found, symbol may be delisted
- SERV: No data found, symbol may be delisted
- BRK.A: No data found, symbol may be delisted
- SPKE: No data found, symbol may be delisted
- UTX: No data found, symbol may be delisted
- LCRX: No data found, symbol may be delisted
- CCLAY: No data found, symbol may be delisted
- PRAH: No data found, symbol may be delisted
- ORLT: No data found, symbol may be delisted
- VSLR: No data found, symbol may be delisted
- FTTGLX: None
- VRTU: No data found, symbol may be delisted
- BRK: None
- AZSEY: No data found, symbol may be delisted
- FXM: None
- WFC$V: No data found, symbol may be delisted
- WDR: No data found, symbol may be delisted
- AMTD: No data found, symbol may be delisted
- CWEN.A: No data found, symbol may be delisted
- INRE: None
- APPL: None
- DESY: No data found, symbol may be delisted
- BOA: None
- BROADCOM: No data found, symbol may be delisted
- GMLP: No data found, symbol may be delisted
- LBDAV: No data found, symbol may be delisted
- FSKR: No data found, symbol may be delisted
- WMGI: No data found, symbol may be delisted
- DWDP: No data found, symbol may be delisted
- DNKN: No data found, symbol may be delisted
[**********************107%*************************]  1673 of 1560 completed

             Close                                                             \
           0QZI.IL     35G.SG 3V64.TI          A      AAGIY  AAIGF        AAL
Date
2012-09-13     NaN        NaN     NaN  27.453505        NaN    NaN        NaN
2012-09-14     NaN        NaN     NaN  28.419170        NaN    NaN        NaN
2012-09-17     NaN        NaN     NaN  28.347639        NaN    NaN        NaN
2012-09-18     NaN        NaN     NaN  28.290415        NaN    NaN        NaN
2012-09-19     NaN        NaN     NaN  28.526466        NaN    NaN        NaN
...            ...        ...     ...        ...        ...    ...        ...
2021-09-26     NaN        NaN     NaN        NaN        NaN    NaN        NaN
2021-09-27     NaN  41.680000     NaN        NaN  44.799999  11.34  21.469999
2021-09-28     NaN  40.459999     NaN        NaN  44.139999  10.96  21.430000
2021-09-29     NaN  41.419998     NaN        NaN  45.360001  11.50  21.010000
2021-09-30     NaN        NaN     NaN        NaN        NaN    NaN        NaN

                                             ...                          \
                  AAN      AAON        AAPL  ...        ZBRA         ZEN
Date                                         ...
2012-09-13        NaN  8.617778         NaN  ...         NaN         NaN
2012-09-14        NaN  9.088889         NaN  ...         NaN         NaN
2012-09-17        NaN  8.871111         NaN  ...         NaN         NaN
2012-09-18        NaN  9.075556         NaN  ...         NaN         NaN
2012-09-19        NaN  9.000000         NaN  ...         NaN         NaN
...               ...       ...         ...  ...         ...         ...
2021-09-26        NaN       NaN         NaN  ...         NaN         NaN
2021-09-27  28.850000       NaN  145.369995  ...  548.580017  121.330002
2021-09-28  28.110001       NaN  141.910004  ...  531.179993  118.120003
2021-09-29  28.490000       NaN  142.830002  ...  525.669983  116.269997
2021-09-30        NaN       NaN         NaN  ...         NaN         NaN


                 ZION  ZIOP          ZM  ZNGA ZNGA.SW ZOOM ^MWE ^RGP
Date
2012-09-13        NaN  5.45         NaN   NaN     NaN  NaN  NaN  NaN
2012-09-14        NaN  5.53         NaN   NaN     NaN  NaN  NaN  NaN
2012-09-17        NaN  5.69         NaN   NaN     NaN  NaN  NaN  NaN
2012-09-18        NaN  5.77         NaN   NaN     NaN  NaN  NaN  NaN
2012-09-19        NaN  5.71         NaN   NaN     NaN  NaN  NaN  NaN
...               ...   ...         ...   ...     ...  ...  ...  ...
2021-09-26        NaN   NaN         NaN   NaN     NaN  NaN  NaN  NaN
2021-09-27  62.889999   NaN  272.880005  7.56     NaN  NaN  NaN  NaN
2021-09-28  62.740002   NaN  261.890015  7.47     NaN  NaN  NaN  NaN
2021-09-29  63.740002   NaN  257.410004  7.55     NaN  NaN  NaN  NaN
2021-09-30        NaN   NaN         NaN   NaN     NaN  NaN  NaN  NaN

[2633 rows x 1562 columns]

In [19]:
trades = []
for representative in house_trades["representative"].unique():
    data = house_trades[house_trades["representative"] == representative]
    data = data.sort_values("transaction_date", ascending=True)
    temp = {}
    for row in data.itertuples():
        weight = (row.amount_lower + row.amount_upper) / 2
        if row.type == "sale_full":
            if row.ticker in temp and row.ticker in house_stocks["Close"]:
                try:
                    temp[row.ticker]["sell_date"] = row.transaction_date
                    temp[row.ticker]["weight"] = weight
                    buy = house_stocks["Close"][row.ticker].loc[temp[row.ticker]["transaction_date"]]
                    sell = house_stocks["Close"][row.ticker].loc[row.transaction_date]
                    temp[row.ticker]["gain"] = (sell - buy) / buy
                    trades.append(temp[row.ticker])
                    temp.pop(row.ticker)
                except KeyError as e:
                    print(e)
        elif row.type == "sale_partial":
            if row.ticker in temp and row.ticker in house_stocks["Close"]:
                try:
                    temp[row.ticker]["sell_date"] = row.transaction_date
                    temp[row.ticker]["weight"] = weight
                    buy = house_stocks["Close"][row.ticker].loc[temp[row.ticker]["transaction_date"]]
                    sell = house_stocks["Close"][row.ticker].loc[row.transaction_date]
                    temp[row.ticker]["gain"] = (sell - buy) / buy
                    trades.append(temp[row.ticker])
                except KeyError as e:
                    print(e)
        elif row.type == "purchase":
            row_dict = {}
            for field in house_trades.columns:
                row_dict[field] = getattr(row, field)
            temp[row.ticker] = row_dict

house_trades = pd.DataFrame(trades)

[************************112%**************************]  1751 of 1560 completed

In [20]:
house_trades.to_csv("data/cleaned/house_trades.csv")